<div class="container">
<div class="row">
  <div class="col-6">
    <%= cl_image_tag @movie.photo.key, height: 490, width: 420, crop: :fill %>
  </div>
  <div class="col-6">
    <h1>info</h1>
    <ul>
      <li>title:<%= @movie.title %></li>
      <li>year:<%= @movie.year %></li>
    </ul>
    <% @movie.reviews.each do |review| %>
      <p><%= review.content %><p>
    <% end %>
    <p>review <%= @movie.title %></p>
    <%= simple_form_for [@movie, @review] do |f| %>
    <%= f.input :content%>
    <%= f.submit %>
  <% end %>
<%= link_to "back to home", root_path %>
  </div>


</div>
</div>




